* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adicionar as variáveis de cor aqui! */
:root {
    --color-pink: #E63D93;
    --color-blue: #2DB1FC;
    --color-shadow-blue: #0FA9FF;
    --color-white: #FFFFFF;
    --color-gray: #E1E1E1;
}

body {
    background-color: var(--color-blue);
}

body * {
    color: var(--color-white);
    font-family: Kodchasan;
    font-style: normal;
    line-height: normal;
}

header {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 3px 4px var(--color-shadow-blue);
    height: 5em;
    justify-content: space-between;
    padding: 0 10%;
}

.logo-include {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#logo {
    width: 92px;
    height: 94.914px;
    flex-shrink: 0;
}

#oi {
    padding: 2rem;
}

.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid var(--color-white);
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--color-white);
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

.navigation-header {
    display:flex;
    gap: 20px;
    list-style: none;
}

.navigation-header a {
    text-decoration: none;
    color: var(--color-white);
    transition: 0.5s;
    border: 1px solid var(--color-white); /* como deixar a borda com gradiente? */
    padding: 0 25px;
    transition: 0.4s;
}

.navigation-header li:nth-child(1) a {
    transition: 0.5s 0.2s;
}

.navigation-header li:nth-child(2) a {
    transition: 0.5s 0.4s;
}

.navigation-header li:nth-child(3) a {
    transition: 0.5s 0.6s;
}

.navigation-header a:hover {
    transition: 1.5s;
    background-color: var(--color-pink);
    
}

@media (max-width: 750px) {
    .hamburguer {
        display: block;
        z-index: 3;
    }

    .navigation-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--color-blue);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out; /*animação com saída suave*/
        z-index: 2;

        flex-direction: column;
        justify-content: space-around; /*distribui os elementos no espaço disponível*/
        align-items: center;
        gap: 0;
        pointer-events: none; /* desabilitar a função de clicar em algo que n consegue ver */
    }

    .navigation-header a {
        font-size: 24px;
        opacity: 0;
    }

    /* Estilos ativos */

    .nav.active .navigation-header {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburguer {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburguer::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

#main {
    height: 70vh;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 3rem;
}

#main #texto{
    height: 5rem;
}

#borda-barbie {
    width: 413.45px;
    height: 423px;
    flex-shrink: 0;
    position: relative;
}

#conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#perfil {
    display: flex;
    align-content: center;
    justify-content: center;
}

#foto-perfil {
    position: absolute;
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 5px solid var(--color-white);
    margin: 80px 0px 0px 0;
    z-index: 1;
}

#texto {
    padding: 0 3rem;
}

.tela_perfil {
    padding: 3rem;
    text-align: justify;
}

#apresentation ul {
    margin: 2rem;
    letter-spacing: 1px;
    width: 100%;
    text-align: start;
}

#apresentation ul li {
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 40px 10px;
}

.pergunta_include h1 {
    text-align: center;
    margin: 4rem 0;
    letter-spacing: 1px;
}

.pergunta_include p {
    padding: 0 15%;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.pagina_posts h1 {
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    margin: 4rem 17rem;
}

.pagina_posts a {
    text-decoration: none;
}

.pagina_posts .projeto {
    border: 3px solid var(--color-gray);
    border-radius: 20px;
    margin: 3rem 17rem;
    padding: 25px;
    transition: 0.35s;
    cursor: pointer;
}

footer {
    background-color: var(--color-pink);
    padding: 20px;
    letter-spacing: 1px;
    width: 100%;
    color: var(--color-white);
}

.footer_contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .45rem 3.5rem;
    margin-bottom: 0.75rem;
    margin: 0 5rem;
    transition: all 0.2s;
}

.footer_social_media {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    margin-top: 0.75rem;
    transition: all 0.4s;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    color: var(--color-gray);
    font-size: 0.9rem;
    padding: 10px;
    font-weight: 100;
}

@media (max-width: 768px) {
    #header {
        gap: 1em;
    }

    #main {
        margin: 4em;
    }
}

@media (max-width: 600px) {
    #header {
        gap: 1em;
        flex-direction: row;
        margin-top: 2em;
    }

    #main {
        margin: 4em;
    }

    footer {
        height: 100%;
        position: fixed;
    }    
}